/* ::::: http://shop.colorschemedesigner.com/css/shop.css ::::: */

body { margin: 0pt; background: none repeat scroll 0% 0% rgb(32, 32, 32); color: rgb(128, 128, 128); font: 11px/1.33 Verdana,sans-serif; }
a { color: rgb(136, 136, 119); }
a:hover { color: white; }
#header { width: 930px; margin: 10px auto 0pt; padding: 60px 25px 20px; position: relative; background: url('shop-ui.png') no-repeat scroll 0pt 0pt transparent; color: rgb(102, 102, 102); }
#header h1 { display: none; }
#canvas { width: 980px; min-height: 500px; margin: 0pt auto 10px; padding-bottom: 30px; position: relative; background: none repeat scroll 0% 0% rgb(51, 51, 51); }
.tabs a { display: block; position: absolute; top: 0pt; left: 0pt; background: none repeat scroll 0% 0% rgb(37, 37, 37); color: rgb(128, 128, 128); font-size: 12px; line-height: 27px; text-align: center; text-decoration: none; white-space: nowrap; border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(37, 37, 37) rgb(37, 37, 37) -moz-use-text-color; }
.tabs a.sel { background: none repeat scroll 0% 0% transparent; color: rgb(224, 224, 224); }
.tabs a:hover { color: rgb(204, 204, 204); }
.tabs a.sel:hover { color: rgb(128, 128, 128); }
#tab-api { position: absolute; top: 0pt; left: 715px; width: 265px; height: 27px; }
#tab-api a { width: 100%; font-size: 10px; background: none repeat scroll 0% 0% rgb(37, 37, 37); color: rgb(128, 128, 128); overflow: visible; }
#tab-api a:hover { background: none repeat scroll 0% 0% rgb(40, 40, 40); color: rgb(204, 204, 204); }
#tabs-cat { width: 940px; height: 27px; margin: 0pt 25px; }
#tabs-cat a { position: static; float: left; width: 180px; margin-right: 1px; }
#goods { padding: 15px 0pt; }
#loading { padding: 50px 0pt; font-size: 15px; text-align: center; background: url('loading.gif') no-repeat scroll center bottom transparent; }
#desc { margin: 10px 75px; font-size: 12px; line-height: 1.5; }
#PAG { padding: 3px 0pt 10px; font-size: 12px; text-align: center; vertical-align: middle; }
#PAG .pages { padding: 3px 8px; color: rgb(153, 153, 102); }
#PAG .pages:hover { background: none repeat scroll 0% 0% rgb(0, 0, 0); color: rgb(255, 255, 255); }
#PG { background: none repeat scroll 0% 0% rgb(51, 51, 51); }
#PG td { vertical-align: top; padding-bottom: 15px; }
#PG .wrapperdiv {  }
.bottomdiv {  }
.bottomdiv a {  }
.bottomdiv a:hover {  }
#PG .bottomleft { color: rgb(204, 204, 204); }
#PG .bottomright {  }
#PG .bottomright a { padding: 2px 5px; font-size: 10px; color: rgb(153, 153, 102); }
#PG .bottomright a:hover { background: none repeat scroll 0% 0% rgb(0, 0, 0); color: rgb(255, 255, 255); }
#footer { margin: 2em 0pt; font-size: 10px; text-align: center; }
