/* ::::: http://static.wix.com/client/css/viewer.css ::::: */

html, body { margin: 0pt; padding: 0pt; height: 100%; text-align: center; }
.fulltable { height: 100%; }
body { background-color: rgb(200, 200, 200); }
